   /* Imports */
   @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

   :root {
       --title: 'Rubik Mono One', sans-serif;
       --sub-title: 'Rubik', sans-serif;
       --desc: 'Roboto', sans-serif;
       --yellow: rgba(255, 196, 0, 0.987);
   }

   .corpo-portfolio,
   ul {
       padding: 0px;
       margin: 0px;
       overflow-x: hidden;
   }

   
   .corpo-portfolio {
       background-color: #5e5e5e;
   }

   /* Header */
   .corpo-portfolio .header {
       display: flex;
       height: 70px;
       background-color: rgb(68, 68, 68);
       padding: 1rem;
       box-sizing: border-box;
       align-items: center;
       justify-content: space-around;
       box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.487);
   }

   .corpo-portfolio .header #logo-img {
       width: 50px;
       border-radius: 30px;
   }

   .corpo-portfolio .header #logo-img:hover {
       animation: Rotate 0.9s ease;
   }

   .corpo-portfolio .header .navegacao .menu {
       display: flex;
       list-style: none;
       gap: .5rem;
   }

   .corpo-portfolio .header .navegacao .menu a {
       display: block;
       padding: .5rem;
       text-decoration: none;
       font-size: 18px;
       font-family: var(--desc);
       color: white;
       cursor: pointer;
   }

   .corpo-portfolio .header .navegacao .menu a:hover {
       color: var(--yellow);
   }

   .corpo-portfolio .header .navegacao #btn-mobile {
       display: none;
   }

   .corpo-portfolio .header .navegacao .menu .button-up {
       display: none;
   }



   /*  Main */

   .container-xxl .intro-portfolio {
       width: 100%;
       padding: 30px 0px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;


   }

   .container-xxl .intro-portfolio .apresentacao {
       margin: 20px 0px;
       width: 100%;
       display: flex;
       justify-content: space-around;
       align-items: center;

   }


   .container-xxl .intro-portfolio .apresentacao .titulo-principal {
       text-align: center;
       color: var(--yellow);
       font-family: 'Rubik Mono One', sans-serif;
       font-size: 70px;
       letter-spacing: 0px;
       display: flex;
       justify-content: center;
       flex-direction: column;
       animation: LeftAnimation 1.5s ease;
   }

   .container-xxl .intro-portfolio .apresentacao .titulo-principal .tp-2 {
       font-size: 20px;
       text-align: center;
       color: rgb(255, 255, 255);
       font-family: var(--sub-title);
       letter-spacing: 10px;
       line-height: 50px;
       margin-bottom: 40px;
   }

   .container-xxl .intro-portfolio .imagem-principal {
       width: 55%;
       border-radius: 80px;


   }




   .container-xxl .intro-portfolio .biografia-main {
    border-left: solid 2px rgba(255, 196, 0, 0.987);
    border-right: solid 2px rgba(255, 196, 0, 0.987);
       margin-top: 80px;
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0px;
   }
   .container-xxl .intro-portfolio .biografia-main .texto-biografia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
}

.container-xxl .intro-portfolio .biografia-main .texto-biografia .descricao-titulo {
    font-size: 16px;
    text-align: center;
    font-family: var(--desc);
    color: rgb(216, 216, 216);

}


   .container-xxl .intro-portfolio .biografia-main .sobre-mim {
       
       display: flex;
       justify-content: space-evenly;
       text-align: center;
       font-size: 50px;
      
       padding: 10px;
       width: 50%;
   }

   .container-xxl .intro-portfolio .biografia-main .sobre-mim .seta-circular {
       fill: rgba(255, 255, 255, 0.987);
       transform: rotate(-90deg);
       width: 50px;    
   }

   .container-xxl .intro-portfolio .biografia-main .sobre-mim .sobre-mim-title{
    color: var(--yellow);
       font-family: var(--title);
       font-size: 50px;
       animation: RightAnimation 1.5s ease;
      
   }



















   /* Animations */

   @keyframes
    Rotate {
       100% {
           transform: rotate(360deg);
       }
     
   }
   
  @keyframes LeftAnimation {
    0% {
        transform:translateX(-1190px);
    }
    100%{
        transform: translate(0px);
    }

 }
 @keyframes RightAnimation {
    0% {
        transform:translateX(1190px);
    }
    100%{
        transform: translate(0px);
    }

 }  
    
   








   /* Media Queries */


   @media (max-width: 768px) {
       .corpo-portfolio .header {
           justify-content: space-between;
           z-index: 1000000;
       }

       .corpo-portfolio .header #logo-img {
           width: 40px;
           border-radius: 30px;
       }

       .corpo-portfolio .header .navegacao #btn-mobile {
           display: flex;
       }

       .corpo-portfolio .header .navegacao .menu {
           display: flex;
           flex-direction: column;
           align-items: center;
           position: absolute;
           width: 100%;
           top: 70px;
           right: 0px;
           background-color: #5e5e5e;
           height: 0px;
           transition: .6s;
           z-index: 100;
           visibility: hidden;
           overflow-y: hidden;
           padding: 1rem 0;
           box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.487)
       }

       .corpo-portfolio .header .active .menu {
           height: 50vh;
           align-items: center;
           overflow-y: auto;
           visibility: visible;

       }

       .corpo-portfolio .header .navegacao .menu .links-menu {
           border-bottom: rgba(255, 196, 0) 1px solid;
           width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
       }

       .corpo-portfolio .header .navegacao .menu .button-up {
           margin-top: 10px;
           display: flex;
       }

       .corpo-portfolio .header .navegacao .menu .btn-mob {
           background-color: transparent;
           border: none;
           cursor: pointer;
       }

       .corpo-portfolio .header .navegacao .menu .button-up .seta-circular {
           background-color: transparent;
           width: 60px;
           height: 40px;
           fill:white;

       }


       .corpo-portfolio .header .navegacao .menu a {
           font-weight: 500;
           font-size: 20px;
           padding: 1rem 0;
           margin: 5px 0px;
       }

       .corpo-portfolio .header .navegacao #btn-mobile {
           display: flex;
           padding: .5rem 1rem;
           border: none;

           background: none;
           cursor: pointer;
           gap: .5rem
       }

       .corpo-portfolio .header .navegacao #btn-mobile #hamburguer {
           border-top: solid 2px;
           color: rgba(255, 196, 0);
           width: 20px;

       }

       .corpo-portfolio .header .navegacao #btn-mobile #hamburguer:after,
       .corpo-portfolio .header .navegacao #btn-mobile #hamburguer:before {
           content: '';
           display: block;
           background-color: currentColor;
           margin-top: 5px;
           height: 2px;
           width: 20px;
       }

       /* Main */

       .container-xxl .intro-portfolio .apresentacao {
           margin: 20px 0px;
           width: 100%;
           flex-direction: column;

       }

       .container-xxl .intro-portfolio .apresentacao .texto-main {
           display: flex;
           align-items: center;
           z-index: 0;
           width: 100%;
       }

       .container-xxl .intro-portfolio .imagem-principal {
           width: 100%;
           border-radius: 80px;
           z-index: 20;

       }
       .container-xxl .intro-portfolio .biografia-main {
           flex-direction: column;
       }

       .container-xxl .intro-portfolio .biografia-main .sobre-mim{
           flex-direction: column;
           align-items: center;
           
       }
       .container-xxl .intro-portfolio .biografia-main .sobre-mim .seta-circular {
        fill: white;
        transform: rotate(-0deg);
        width: 50px;
        margin-bottom: 30px;
         
    }
   }